html{
	font-size: 100px;
	font-family: '微软雅黑';
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
*{
	padding: 0;
	margin: 0;
}
header.header{
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
}
header.header button{
	border:none;
	outline: none;
	width: .4rem;
	height: .4rem;
	font-size: .21333333rem;
	float: left;
}
header.header button img{
	height: .4rem;
}
header.header h4{
	font-size: .18666667rem;
	height: .4rem;
	line-height: 2em;
	color: #e9782c;
	background: #fff;
}
section{
	margin-top: 40px;
	background: #fff;
	border-top: 1px solid #f5f5f5;
	padding: 0 .2rem;
}
section h2{
	font-size: .24rem;
	padding: .05rem 0;
}
section p{
	font-size: .16rem;
	color: #999;
}
section article{
	font-size: 0;
	margin: .1rem 0;
}
section article div{
	font-size: .18666667rem;
}
section article button{
	font-size: .21333333rem;
	border: 1px solid #e9782c;
	color: #e9782c;
	background: #fff;
	padding: .1rem  .53333333rem;
	width: 100%;
}